[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 16.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 16.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 16.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 16.0

[submodule "OCA/pos"]
	path = OCA/pos
	url = git@github.com:OCA/pos.git
	branch = 16.0

[submodule "ingegniamo/timesheet_tag"]
	path = ingegniamo/timesheet_tag
	url = git@github.com:ingegniamo/timesheet_tag.git
	branch = 16.0

[submodule "ingegniamo/timesheet_popup_save_and_new"]
	path = ingegniamo/timesheet_popup_save_and_new
	url = git@github.com:ingegniamo/timesheet_popup_save_and_new.git
	branch = 16.0

[submodule "ingegniamo/website_hide_to_public_user"]
	path = ingegniamo/website_hide_to_public_user
	url = git@github.com:ingegniamo/website_hide_to_public_user.git
	branch = 16.0

[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 16.0

[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 16.0
